:root {
    --akzentfarbe: #333;
}
h2 {
    border: 2px var(--akzentfarbe) solid;
    color: var(--akzentfarbe);
    background-color: yellow;
}

p {
    border: 2px gray dotted;
}

h5 {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}


h1 {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    white-space: nowrap !important;
    border: 0 !important;
}