
/*Variablen und Root*/
:root {
    --small-img-width: 6rem;
    --big-img-width: 20rem;

    --logo-font-size: 2rem;
}

.text, .text-rec * {
    font-family: Nunito;
}

body {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

#services-footer {
    flex-grow: 1;
}

#services-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;

    height: 80vh;

    padding: 1rem 0 1rem 0;

}

.service-category {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;

    overflow-x: clip;

    width: 12%;
    margin: 0 1rem 0 1rem;
    padding: 0 0.5rem 0 0.5rem;

    border: 1px rgb(var(--accent-color)) solid;
    border-radius: 3rem;
    box-shadow: 6px 6px rgba(0, 0, 0, 60%);



    transition: flex-grow 400ms ease-in-out, width 300ms ease-in-out, background-image 400ms ease-in;
}

.service-category-image {
    height: 61.8%;



    width: var(--small-img-width);


    transition: width 300ms ease-in-out, flex-grow 300ms ease-in-out, min-width 300ms ease-in-out;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


.service-image-big {

    margin: auto;
    transition: visibility 300ms ease-in-out, width 300ms ease-in-out;
}



.service-article {

    height: 100%;
    width: 50vw;

    padding: 5% 0 5% 0;

    visibility: visible;
    opacity: 100%;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out, width 300ms ease-in-out;

    display: flex;
    flex-direction: column;
    gap: 10%;
    text-align: center;
}


.service-category-title{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 650;

    transition: font-size 300ms ease-in;
}


.service-article-text {
    flex-grow: 1;
}


/* Interaction behaviour */

.service-category[data-selected="false"] .service-article{
    visibility: collapse;
    position: absolute;
    width: 0;

    height: calc(100% - 8vh);
    opacity: 0;
}

.service-category[data-selected="false"] .service-image-big{
    visibility: collapse;
    position: absolute;

    height: calc(100% - 8vh);
    opacity: 0;
}

.service-category:hover{
    background-image: linear-gradient(
            180deg,
            rgba(0,0,0,0) 90%,
            98%,
            rgba(var(--accent-color), 80%)
    );
}


#services-main[data-any-selected="true"] .service-category[data-selected="false"]{
    width: 8%;
}
#services-main[data-any-selected="true"] .service-category[data-selected="false"] > .service-category-image{
    flex-grow: 1;
}

#services-main[data-any-selected="true"] .service-category[data-selected="false"] > .service-category-title {
    font-size: 0;
}

.service-category[data-selected="true"]{
    flex-grow: 1;
    flex-direction: row;
    gap: 2rem;

    padding: 2rem;
}

.service-category[data-selected="true"] .service-category-title {
    display: none;
}

.service-category[data-selected="true"] .service-category-image {
    height: 100%;
    min-width: var(--big-img-width);
}

.service-category[data-selected="true"] .service-category-title {
    height: 10%;
    flex-grow: 1;
}

.service-category[data-selected="true"] .service-image-small, .service-category[data-selected="false"] .service-image-big{
    width: 0;
    visibility: collapse;
}
.service-category[data-selected="true"] .service-image-big, .service-category[data-selected="false"] .service-image-small{
    width: 100%;
    height: auto;
}


/* Phone layout */

@media only screen and (max-width: 1200px){ 


    body {
        overflow: auto;
    }

    #services-main {
        flex-flow: column;
        height: auto;

        gap: 5vh;

        padding-left: 2rem;
        padding-right: 2rem;
    }

    .service-category{
        flex-flow: row nowrap;
    
        height: 20vh;
        width: 100%;
        padding: 0;
        margin: 0;
    
        border-radius: 3rem;
    
        transition: flex-grow 400ms ease-in-out, width 300ms ease-in-out;;
    }


    .service-category-image {
        height: auto;   
    
    
        width: var(--small-img-width);
    
    
        transition: 0;
    
        display: block;
        flex-flow: unset;
        align-items: unset;
        justify-content: unset;
    }

    .service-category-title{
        text-align: center;
        font-size: 2.4rem;
    
    }

}