* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

* :not(.text, .text-rec *) {
    font-size: 0;
}

.text, .text-rec *{
    font-size: 1rem;
}

:root {

    --text-color: white;
    --bg-color: rgb(20, 20, 20);
    --bg-color-val: 20, 20, 20;
    --accent-color: 61, 194, 0;
    --h2-font-color: rgb(199, 199, 199);

    --golden: 60.81%
}

a {
    text-decoration: none;
}


.testing {
    background-color: #333333;
    border: 2px black solid;
}

body {
    height: 100vh;

    background-color: var(--bg-color);
}




.golden-horizontal-big {
    width: var(--golden);
}

.golden-horizontal-small {
    flex-grow: 1;
}

.fill-v {
    height: 100%;
    display: inline-block;
}

.fill-h {
    width: 100%;
    display: inline-block;
}

/* Logo */


#side-area {

    flex-grow: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#site-logo {
    margin: 3rem;
    margin-right: 6rem;
    margin-bottom: 1rem;
    width: min(20vw, 400px);
}

/* Footer */

#page-footer {
    min-height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
} 

#footer-nav {
    text-align: center;
    margin: 2rem;
}

.footer-divider {
    font-size: 2em;
}

/* Mobile Navigation Menu Button*/

#mnav-button {
    position: fixed;
    height: 100vh;
    min-width: 20vw;

    display: flex;
    align-items: flex-start;

    z-index: 1000;

    mask: url(/Projekt/resources/images/mnav-clip.svg#shape0);

    
    transition: clip-path 0.8s ease;
    background-color: green;

    --clip-pos: 2.5rem calc(5vh + 1.5rem);
}

#mnav-button[data-expanded="false"] {
    clip-path: circle(2.5rem at var(--clip-pos));
}

#mnav-button[data-expanded="true"] {

    clip-path: circle(max(min(150%, 150vw), 150vh) at var(--clip-pos));
}

#mnav-button[data-mdown="true"] {
    transition: clip-path 0s;
}

#mnav-button > img {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;

    width: 3rem;
    height: auto;

    z-index: 1000;

    margin-bottom: 1rem;
    margin-top: 5vh
}

#mnav-button > ul {
    width: 100%;

    margin-right: 3rem;

    
    background-color: green;

    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-evenly;
}

#mnav-button[data-expanded="true"] ul {
    position: static;
    top: 0;
}

.mnav-item {
    list-style: none;
    display: block;

    margin-left: 2rem;
}

.mnav-item > a, .mnav-item option, .mnav-item select {
    font-size: 2rem;
}

.mnav-item select {
    color: var(--text-color);
}

.mnav-item option {
    color: black;
}


#mnav-language {
    background: none;
    border: none;
}


@media only screen and (max-width: 850px) {
    
    #mnav-button {
        width: 100vw;

        mask: none;
    }

    #site-logo {
        margin-left: auto;
        margin-right: auto;

        width: 50%;
    }
}